.main{
    margin: auto auto 0 auto;
    width: 600px;
    display: grid;
    height: auto;

    @media(max-width: 37.5rem){
        width: 310px;
    }

    &-top{
        display: flex;
        flex-direction: column;
        gap: .8rem;
        background: $white;
        padding: 3rem 1.5rem;
        border-radius: 8px 8px 0 0;

        @media(max-width: 37.5rem){
            padding: 1.5rem 1rem;
        }

        &>h1{
            color: $Cyan;
            margin-bottom: .5rem;

            @media(max-width: 37.5rem){
                font-size: 23px;
            }
        }

        &>h2{
            color: $BrightYellow;

            @media(max-width: 37.5rem){
                font-size: 17px;
            }
        }

        &>p{
            line-height: 1.5;
            color: $GrayishBlue;

            @media(max-width: 37.5rem){
                font-size: 14px;
            }
        }
    }

    &-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media(max-width: 37.5rem){
            grid-template-columns: 1fr;
        }

        &-left{
            display: flex;
            flex-direction: column;
            background: $Cyan;
            border-radius: 0 0 0 8px;

            @media(max-width: 37.5rem){
                border-radius: 0;
            }

            &>strong{
                display: inherit;
                color: $white;
                font-weight: 700;
                font-size: 25px;
                margin-top: 1rem;
                align-items: center;

                .altprice{
                    font-size: 14px;
                    color: $LightGray-varient;
                    margin-left: .5rem;
                    font-weight: 400;
                }
            }

            &>p{
                color: $LightGray;
                font-size: 15px;
                margin-top: .5rem;
            }

            &>button{
                margin-top: 2rem;
                height: 2.5rem;
                background: $BrightYellow;
                color: $white;
                border: none;
                border-radius: 5px;
            }
        }

        &-right{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: $Cyanvarient;
            border-radius: 0 0 8px 0;

            @media(max-width: 37.5rem){
                border-radius: 0 0 8px 8px;
            }

            &>p{
                color: $LightGray-varient;
                width: 77%;
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
}